# 1️⃣ Set Python WSGI path and EB environment
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings
    PYTHONBUFFERED: 'TRUE'
    DEBUG: 'false'
    ALLOWED_HOSTS: TestPipline-env.eba-qkwpisjh.us-east-2.elasticbeanstalk.com 

# 2️⃣ Packages to install (if needed)
packages:
  yum:
    git: []

# 3️⃣ Container commands: run after environment is set up
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
